cs-spserver/src/wsdl/localhost_8080/CsSpSupport/SpSupportWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://csspsupport.sigserv.aaasec.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://csspsupport.sigserv.aaasec.com/" name="SpSupportWs">
<types>
<xsd:schema>
<xsd:import namespace="http://csspsupport.sigserv.aaasec.com/" schemaLocation="http://localhost:8080/CsSpSupport/SpSupportWs?xsd=1"/>
</xsd:schema>
</types>
<message name="verifySignature">
<part name="parameters" element="tns:verifySignature"/>
</message>
<message name="verifySignatureResponse">
<part name="parameters" element="tns:verifySignatureResponse"/>
</message>
<message name="signRequest">
<part name="parameters" element="tns:signRequest"/>
</message>
<message name="signRequestResponse">
<part name="parameters" element="tns:signRequestResponse"/>
</message>
<message name="completeSigning">
<part name="parameters" element="tns:completeSigning"/>
</message>
<message name="completeSigningResponse">
<part name="parameters" element="tns:completeSigningResponse"/>
</message>
<portType name="SpSupportWs">
<operation name="verifySignature">
<input wsam:Action="http://csspsupport.sigserv.aaasec.com/SpSupportWs/verifySignatureRequest" message="tns:verifySignature"/>
<output wsam:Action="http://csspsupport.sigserv.aaasec.com/SpSupportWs/verifySignatureResponse" message="tns:verifySignatureResponse"/>
</operation>
<operation name="signRequest">
<input wsam:Action="http://csspsupport.sigserv.aaasec.com/SpSupportWs/signRequestRequest" message="tns:signRequest"/>
<output wsam:Action="http://csspsupport.sigserv.aaasec.com/SpSupportWs/signRequestResponse" message="tns:signRequestResponse"/>
</operation>
<operation name="completeSigning">
<input wsam:Action="http://csspsupport.sigserv.aaasec.com/SpSupportWs/completeSigningRequest" message="tns:completeSigning"/>
<output wsam:Action="http://csspsupport.sigserv.aaasec.com/SpSupportWs/completeSigningResponse" message="tns:completeSigningResponse"/>
</operation>
</portType>
<binding name="SpSupportWsPortBinding" type="tns:SpSupportWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verifySignature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="completeSigning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SpSupportWs">
<port name="SpSupportWsPort" binding="tns:SpSupportWsPortBinding">
<soap:address location="http://localhost:8080/CsSpSupport/SpSupportWs"/>
</port>
</service>
</definitions>